* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #1b1b32;
  overflow: hidden;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.freecode-camp-contenedor {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.freecodecamp-logo {
  width: 80px;
  height: 80px;
  margin: 20px 100vw 0px 100vw;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 5px;
}

.contenedor-principal {
  height: 50px;
  min-height: 600px;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
}